<!DOCTYPE html>
<html lang="en" ng-app="DynamicFormApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>eFarms Questionnaire</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container" ng-controller="DynamicFormController">
        <div class="row">
            <div class="col-lg-12">
                <form name="myForm" class="form-horizontal" role="form" ng-submit="submitForm()">
                    <h3 class='text-center' style="text-decoration:underline; font-weight:600;">{{entity.question_List[0].question_section}}</h3>
                    <br>
                    <div>
                        <div ng-repeat="field in entity.question_List[0].questions[0].input">
                            <ng-form name="form">
                                <!-- TEXT FIELDS -->
                                <div ng-if="field.fieldtype=='text'" class="form-group">
                                    <label class="col-sm-4 control-label " style="text-align:left">{{field.fieldname}}</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="{{field.fieldname}}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control" required/>
                                         <!--<div class="alert alert-danger"-->
                         <!--ng-show="field.fieldname.$touched && field.fieldname.$invalid">-->
                        <!--Enter your name-->
                    <!--</div>             -->
                                        <!--<span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>-->
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                        <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[0].questions[1].question_heading}}</h4>
                        <ng-form name="form">
                            <!-- RADIO FIELDS -->
                            <div class="form-group">
                                <label class="col-sm-12 control-label" style="text-align:left;">{{entity.question_List[0].questions[1].dependent_question[0].question_text}}</label>
                                <div class="col-sm-6">
                                    <div class="checkbox pull-left" ng-repeat="option in entity.question_List[0].questions[1].values">
                                        <label>
                                            <input type="radio" data-ng-model="option.data" name="taskGroup" id="{{option.typeValue}}" value="{{option.id}}">{{option.typeValue}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">If YES, please attach the following:</label>
                                <div class="col-sm-6">
                                    <div class="checkbox" ng-repeat="option in entity.question_List[0].questions[1].dependent_question[0].checkList">
                                        <label>
                                            <input type="checkbox" data-ng-model="option.data" name="taskGroupList" id="{{option.fieldname}}" value="{{option.id}}">{{option.fieldname}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                        <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[0].questions[2].question_heading}}</h4>
                        <p style="font-style: italic;">{{entity.question_List[0].questions[2].question_text}}</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-grid="projectAreaGridOptions" ui-grid-edit ui-grid-auto-resize></div>
                                <button class='btn btn-primary' type='button' ng-click="addRow(projectAreaGridOptions.data)">Add Row</button>
                                <button class='btn btn-primary' type='button' ng-click="removeRow(projectAreaGridOptions.data)">Remove Row</button>
                            </div>
                        </div>
                        <h4 style="text-decoration:underline; font-weight:600;"> {{entity.question_List[0].questions[3].question_heading}}</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-grid="projectAreaTotalGridOptions" ui-grid-edit></div>
                                <button class='btn btn-primary' type='button' ng-click="addRow(projectAreaTotalGridOptions.data)">Add Row</button>
                                 <button class='btn btn-primary' type='button' ng-click="removeRow(projectAreaTotalGridOptions.data)">Remove Row</button>
                                <!--end of .table-responsive-->
                            </div>
                        </div>
                        <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[0].questions[4].question_heading}}</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ui-grid="preservationGoalsGridOptions" ui-grid-edit></div>
                                <button class='btn btn-primary' type='button' ng-click="addRow(preservationGoalsGridOptions.data)">Add Row</button>
                                <button class='btn btn-primary' type='button' ng-click="removeRow(preservationGoalsGridOptions.data)">Remove Row</button>
                            </div>
                        </div>
                    </div>
                    <h3 class='text-center' style="text-decoration:underline; font-weight:600;">{{entity.question_List[1].question_section}}</h3>
                    <p style="font-style: italic;">{{entity.question_List[1].question_section_help_text}}</p>
                    <div ng-repeat="field in entity.question_List[1].questions">
                        <ng-form name="form">
                            <!-- RADIO FIELDS -->
                            <div class="form-group">
                                <h4 style="text-decoration:underline; font-weight:600;">{{field.question_heading}}</h4>
                                <label class="col-sm-12 control-label" style="text-align:left;">{{field.question_text}}</label>
                                <p style="margin-left:15px;font-style: italic;">{{field.question_help_text}}</p>
                                <div class="checkbox pull-left" ng-repeat="option in field.values">
                                    <label>
                                        <input type="radio" data-ng-model="option.data" name="taskGroup{{$parent.$index}}" id="{{option.typeValue}}" value="{{option.id}}">{{option.typeValue}}
                                    </label>
                                </div>
                            </div>
                        </ng-form>
                        <ng-form name="form">
                            <div class="form-group" style="margin-left:0px; color:darkgray;" ng-repeat="option in field.dependent_question">
                                <label class="col-sm-12 control-label" style="text-align:left;">{{ option.question_text}}</label>
                                <div class="checkbox pull-left" ng-repeat="let in option.values">
                                    <label>
                                        <input type="radio" data-ng-model="let.data" name="lettaskGroup{{$parent.$parent.$index}}" id="{{let.typeValue}}" value="{{let.id}}">{{let.typeValue}}
                                    </label>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <h3 class='text-center' style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].question_section}}</h3>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[0].question_heading}}</h4>
                    <div>
                        <ng-form name="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="checkbox" ng-repeat="option in entity.question_List[2].questions[0].dependent_question[0].checkList">
                                        <label>
                                            <input type="checkbox" data-ng-model="option.data" name="taskGroup" id="{{option.fieldname}}" value="{{option.id}}">{{option.fieldname}}
                                        </label>
                                        <div ng-if="option.help_text1" class="form-group">
                                            <label class="col-sm-4 control-label">{{option.help_text1}}</label>
                                            <div class="col-sm-6">
                                                <input type="text" dynamic-name="option.help_text1" id="{{option.help_text1}}" data-ng-model="option.text" class="form-control" required/>
                                                <!--<span data-ng-show=" {{'form.'+option.name+'.$dirty && option.'+field.fieldname+'.$error.required'}}">Required!</span>-->
                                            </div>
                                        </div>
                                        <div ng-if="option.help_text2" class="form-group">
                                            <label class="col-sm-4 control-label">{{option.help_text2}}</label>
                                            <div class="col-sm-6">
                                                <input type="text" dynamic-name="field.help_text2" id="{{field.help_text1}}" data-ng-model="field.text_addt" class="form-control" required/>
                                                <!--<span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="field in entity.question_List[2].questions[1].input">
                                <ng-form name="form">
                                    <!-- TEXT FIELDS -->
                                    <div ng-if="field.fieldtype=='text'" class="form-group">
                                        <label class="col-sm-4 control-label">{{entity.question_List[2].questions[1].question_heading}}</label>
                                        <div class="col-sm-6">
                                            <input type="text" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control" required/>
                                            <!--<span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>-->
                                        </div>
                                    </div>
                                </ng-form>
                            </div>
                        </ng-form>
                    </div>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[1].question_heading}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-grid="municipalFundingGridOptions" ui-grid-edit></div>
                            <button class='btn btn-primary' type='button' ng-click="addRow(municipalFundingGridOptions.data)">Add Row</button>
                            <button class='btn btn-primary' type='button' ng-click="removeRow(municipalFundingGridOptions.data)">Remove Row</button>
                        </div>
                    </div>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[2].question_heading}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-grid="municipalFundingTotalGridOptions" ui-grid-edit></div>
                            <button class='btn btn-primary' type='button' ng-click="addRow(municipalFundingTotalGridOptions.data)">Add Row</button>
                             <button class='btn btn-primary' type='button' ng-click="removeRow(municipalFundingTotalGridOptions.data)">Remove Row</button>
                        </div>
                    </div>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[3].question_heading}}</h4>
                    <ng-form name="form">
                        <!-- RADIO FIELDS -->
                        <div class="form-group">
                            <label class="col-sm-12 control-label" style="text-align:left;">{{entity.question_List[2].questions[3].question_text}}</label>
                            <div class="col-sm-6">
                                <div class="checkbox pull-left" ng-repeat="opt in entity.question_List[2].questions[3].values">
                                    <label>
                                        <input type="radio" data-ng-model="opt.data" name="list{{$parent.$index}}" id="{{opt.typeValue}}" value="{{opt.id}}">{{opt.typeValue}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p><i>{{entity.question_List[2].questions[3].question_help_text}}</i></p>
                    </ng-form>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[4].question_heading}}</h4>
                    <p style="font-style: italic;">{{entity.question_List[2].questions[4].question_help_text}}</p>
                    <ng-form name="form">
                        <!-- RADIO FIELDS -->
                        <div class="form-group">
                            <label class="col-sm-12 control-label" style="text-align:left;">{{entity.question_List[2].questions[4].question_text_1}}</label>
                            <div class="col-sm-6">
                                <div class="checkbox pull-left" ng-repeat="tab in entity.question_List[2].questions[4].values">
                                    <label>
                                        <input type="radio" data-ng-model="tab.data" name="listGroup" id="{{tab.typeValue}}" value="{{tab.id}}">{{tab.typeValue}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                     <ng-form name="form">
                        <!-- RADIO FIELDS -->
                        <div class="form-group">
                            <label class="col-sm-12 control-label" style="text-align:left;">{{entity.question_List[2].questions[4].question_text_2[0].q}}</label>
                            <div class="col-sm-6">
                                <div class="checkbox pull-left" ng-repeat="tabs in entity.question_List[2].questions[4].question_text_2[0].values">
                                    <label>
                                        <input type="radio" data-ng-model="tabs.data" name="letlistGroup" id="{{tabs.typeValue}}" value="{{tabs.id}}">{{tabs.typeValue}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                    <ng-form>
                        <label>{{entity.question_List[2].questions[4].dependent_question[0].question_text}}</label>
                        <div class="form-group">
                            <!--<label class="col-sm-2 control-label">If YES, please attach the following:</label>-->
                            <div class="col-sm-6">
                                <div class="checkbox" ng-repeat="option in entity.question_List[2].questions[4].dependent_question[0].checkList">
                                    <label>
                                        <input type="checkbox" data-ng-model="option.data" name="tasklist{{$parent.$index}}" id="{{option.fieldname}}" value="{{option.id}}">{{option.fieldname}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[5].question_heading}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-grid="costProjectionsGridOptions" ui-grid-edit></div>
                            <button class='btn btn-primary' type='button' ng-click="addRow(costProjectionsGridOptions.data)">Add Row</button>
                             <button class='btn btn-primary' type='button' ng-click="removeRow(costProjectionsGridOptions.data)">Remove Row</button>
                        </div>
                    </div>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[6].question_heading}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-grid="purchaseCostGridOptions" ui-grid-edit></div>
                            <button class='btn btn-primary' type='button' ng-click="addRow(purchaseCostGridOptions.data)">Add Row</button>
                             <button class='btn btn-primary' type='button' ng-click="removeRow(purchaseCostGridOptions.data)">Remove Row</button>
                        </div>
                    </div>
                    <h4 style="text-decoration:underline; font-weight:600;">{{entity.question_List[2].questions[7].question_heading}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ui-grid="farmTotalsGridOptions" ui-grid-edit></div>
                            <button class='btn btn-primary' type='button' ng-click="addRow(farmTotalsGridOptions.data)">Add Row</button>
                             <button class='btn btn-primary' type='button' ng-click="removeRow(farmTotalsGridOptions.data)">Remove Row</button>
                        </div>
                    </div>
                    <ng-form>
                        <label>{{entity.question_List[2].questions[8].question_text}}</label>
                        <div class="form-group">
                            <!--<label class="col-sm-2 control-label">If YES, please attach the following:</label>-->
                            <div class="col-sm-6">
                                <div class="checkbox" ng-repeat="option in entity.question_List[2].questions[8].checkList">
                                    <label>
                                        <input type="checkbox" data-ng-model="option.data" name="taskGroup" id="{{option.fieldname}}" value="{{option.id}}">{{option.fieldname}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                    <button ng-disabled="myForm.$invalid" type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
